---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatDate } from "@js/utils";
import "@styles/blog.less";

const posts = await getCollection("blog");
// Sort posts by date in descending order (newest first)
const recentPosts = posts
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 3); // Limit to the 3 most recent posts (adjust number as needed)
---

<!-- ============================================ --><!--                Featured Posts                --><!-- ============================================ -->
<div class="blog-sidebar">
  <!--Featured-->
  <div class="blog-featured-group">
    <span class="blog-header">Recent Updates</span>
    {
      recentPosts.map((post) => (
        <a class="blog-feature" href={`/blog/${post.id}`}>
          <picture class="blog-featureImage">
            <Image
              src={post.data.image}
              alt={post.data.imageAlt}
              width="60"
              height="60"
              decoding="async"
            />
          </picture>
          <div class="content-group">
            <h3 class="feature-h3">{post.data.title}</h3>
            <span class="feature-date">{formatDate(post.data.date)}</span>
          </div>
        </a>
      ))
    }
  </div>

<!-- Newsletter Signup -->
  <div class="blog-featured-group" style="margin-top: 2rem;">
    <span class="blog-header">Subscribe to our Newsletter</span>
    <div id="mc_embed_signup">
      <form action="https://hacbed.us16.list-manage.com/subscribe/post?u=f7e22abc2790a9fc2898a0b47&amp;id=5d967263ea&amp;f_id=001316e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
        </div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
          <input type="text" name="b_f7e22abc2790a9fc2898a0b47_5d967263ea" tabindex="-1" value="">
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
/* Sidebar column styling */
@media only screen and (min-width: 0rem) {
  .sidebar-column {
    display: flex;
    flex-direction: column;
  }
  
  #mc_embed_signup .button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  
  #mc_embed_signup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  #mc_embed_signup label {
    display: block;
    margin-bottom: 0.3rem;
  }
  
  #mc_embed_signup .indicates-required {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

/* Tablet and larger */
@media only screen and (min-width: 48rem) {
  .sidebar-column {
    width: 30%;
  }
}

</style>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>